
$scheme: 'data:image/svg+xml;utf8,';
$xmlns: 'xmlns="http://www.w3.org/2000/svg"';
$attrs: '#{$xmlns} width="24" height="24"';

// @function ic-table-24px($color) {
//   @return '#{$scheme}<svg #{$attrs}><path fill="#{hex($color)}" d="M21 20V4c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM13 8V4h6v4h-6zm0 6v-4h6v4h-6zm0 6v-4h6v4h-6zM5 8V4h6v4H5zm0 6v-4h6v4H5zm0 6v-4h6v4H5z"/></svg>';
// }

@function ic-add-note-24px($color) {
  @return '#{$scheme}<svg #{$attrs}><path fill="#{escape-hex($color)}" d="M3 17.25V21h3.75L17.811 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83zM22 19v-2h-3v-3h-2v3h-3v2h3v3h2v-3h3"/></svg>';
}
