
$icon-add: ic-add-note-24px($white);
$icon-back: ic-arrow-back-ios-new-24px($white);

.editor {
  display: grid;
  grid: 48px auto 1fr 1fr / 320px 1fr;
  height: 100vh;
}

.editor-titlebar {
  grid-column: span 2;
  display: flex;
  color: $dark-500;
  letter-spacing: 0 - (1 / 24 * 1em);
  background: $primary;

  a {
    background: $dark-450 url('/cache/logo.svg') center/24px no-repeat;
  }

  h1 {
    padding: 0 12px;
    font: 600 21px/48px $font-inter;

    span {
      font: 600 12px/0 $font-inter;
      vertical-align: super;
    }
  }

  div {
    margin: auto 0 auto auto;
  }

  button {
    padding: 0 18px;
    border-radius: 6px;
    color: $light-100;
    font: 14px/36px $font-inter;
    background: $dark-300;
  }
}

.editor-sidebar {
  grid-row: span 2;
  display: grid;
  grid: 1fr/100%;
  background: $dark-450;
}

.editor-footer {
  padding: 24px;
  text-align: center;
  white-space: pre;
  background: $dark-500;

  h1 {
    color: $light-600;
    font: 600 14px/24px $font-inter;
  }

  p {
    color: alpha($light-600, 0.625);
    font: 12px/18px $font-inter;
  }
}

.editor-textarea textarea, .editor-markdown {
  padding: 24px;
}

.editor-head {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid $dark-400;
  background: $dark-300;

  button {
    width: 48px;
    height: 48px;
    outline: none;
    background: transparent 12px no-repeat;
    cursor: pointer;

    &.-ic-add {
      background-image: url($icon-add);
    }

    &.-ic-back {
      background-image: url($icon-back);
    }
  }

  h1 {
    padding: 3px 0 0;
    font: 600 18px/45px $font-inter;
  }
}

// .editor-ribbon {}

.editor-textarea {
  textarea {
    width: 100%;
    height: 100%;
    outline: none;
    font: 400 16px/24px monospace;
    background: $dark-400;
    resize: none;
  }
}

.editor-middle {
  grid-column: 2;
  background: $pastel-blue;
}

.editor-markdown {
  overflow: auto;
}

.editor-address {
  display: flex;
  margin: 0 0 24px;

  button, input {
    border-radius: 6px;
    font: 14px/40px $font-inter;
  }

  button {
    padding: 0 18px;
    background: $pastel-blue;
  }

  input {
    flex: 1;
    margin: 0 6px 0 0;
    padding: 0 0 0 18px;
    background: $dark-300;
  }
}

// Desktop

@media (min-width: 1400px) {
  .editor {
    grid: 48px auto 1fr / 320px 1fr 1fr;
  }

  .editor-ribbon {
    grid-column: span 2;
  }

  .editor-titlebar {
    grid-column: span 3;
  }

  .editor-sidebar {
    grid-row: span 1;
  }
}
