
$icon-text-format: ic-text-format-24px($white);

$icon-format-bold: ic-format-bold-24px($white);
$icon-format-italic: ic-format-italic-24px($white);
// $icon-format-underline: ic-format-underline-24px($white);
$icon-format-strikethrough: ic-format-strikethrough-24px($white);

$icon-format-quote: ic-format-quote-24px($white);
$icon-code: ic-code-24px($white);
$icon-link: ic-link-24px($white);

.format {
  display: flex;
  background: $dark-300;

  button {
    display: block;
    width: 48px;
    height: 48px;
    outline: none;
    background: transparent 12px no-repeat;
    cursor: pointer;

    &.-ic-text-format {
      background-image: url($icon-text-format);
    }

    //

    &.-ic-format-bold {
      background-image: url($icon-format-bold);
    }

    &.-ic-format-italic {
      background-image: url($icon-format-italic);
    }

    // &.-ic-format-underline {
    //   background-image: url($icon-format-underline);
    // }

    &.-ic-format-strikethrough {
      background-image: url($icon-format-strikethrough);
    }

    //

    &.-ic-format-quote {
      background-image: url($icon-format-quote);
    }

    &.-ic-code {
      background-image: url($icon-code);
    }

    &.-ic-link {
      background-image: url($icon-link);
    }
  }

  hr {
    width: 1px;
    height: 24px;
    margin: 12px 6px;
    background: $dark-100;
  }
}

.format-dropdown {
  position: absolute;
  z-index: 1;
  left: -120px + 24px;
  width: 240px;
  padding: 12px 0;
  border-radius: 6px;
  background: $dark-100;
  // box-shadow: 0 6px 24px $dark-500;

  &::after {
    display: block;
    position: absolute;
    top: -6px;
    left: 120px - 6px;
    width: 12px;
    height: 12px;
    border-radius: 3px 0 0 0;
    transform: rotate(45deg);
    background: $dark-100;
    content: '';
  }

  &.-open {
    animation: 0.125s ease-in-out open;
  }

  &.-close {
    animation: 0.125s ease-in-out forwards close;
    pointer-events: none;
  }

  button {
    width: 100%;
    padding: 0 24px;
    font: 400 16px/1 $font-inter;

    &.-title {
      font: 400 30px/1 $font-inter;
    }

    &.-heading {
      font: 400 24px/1 $font-inter;
    }

    &.-subheading {
      font: 400 18px/1 $font-inter;
    }

    &:hover {
      background: $pastel-yellow;
    }
  }
}

@keyframes open {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
}

@keyframes close {
  100% {
    transform: translateY(24px);
    opacity: 0;
  }
}
