
.home {
  display: flex;
  height: 100vh;
}

.home-main {
  display: grid;
  margin: auto;

  a {
    display: block;
    padding: 0 18px;
    border-radius: 6px;
    outline: none;
    color: $dark-500;
    font: 600 18px/48px $font-inter;
    background: $primary;
  }
}

.home-logo, .home-main a {
  margin: 12px auto;
}

.home-logo {
  $size: 288px - 144px;

  width: $size;
  height: $size;
  background: url('/cache/logo.svg') center/$size no-repeat;
}
