
.notes {
  // display: flex;
  // flex-flow: column;
  padding: 12px;
  user-select: none;

  button {
    width: 100%;
    background: initial; // why?
    cursor: pointer;

    &.-active {
      color: $dark-450;
      background: $primary;
    }

    &:focus {
      background: $primary-focus;
    }
  }
}

.notes-item {
  padding: 12px 12px 12px 18px;
  border-radius: 6px;

  h1, p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h1 {
    font: 600 18px/24px $font-inter;
  }

  p {
    font: 400 14px/24px $font-inter;
  }
}
