
.notes {
  padding: 12px;
}

.notes-item {
  padding: 12px 12px 12px 18px;
  border-radius: 6px;
  cursor: pointer;

  h1, p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h1 {
    font: 600 18px/24px $font-inter;
  }

  p {
    font: 400 14px/24px $font-inter;
  }

  &.-active {
    color: $dark-450;
    background: $primary;
  }
}
